* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: yellow;
    overflow: hidden;
}

input {
    opacity: 0;
}

.droid {
    --size: 140px;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 0;
    width: var(--size);
    z-index: 4;
    transition: 1s;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(darkgoldenrod, black);
    opacity: 0;
    z-index: -10;
    transition: 1s;
}

.bb8_label {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 160px;
    background: linear-gradient(purple, orangered);
    box-shadow: inset 20px 0 10px rgba(0,0,0,0.5),
                inset 5px 0 10px rgba(0,0,0,0.5);
    border: 1px solid black;
    border-radius: 150px;
    cursor: pointer;
}

.radios {
    position: absolute;
    left: 22%;
    transition: 0.6s;
}

.radios.right {
    left: 0%;
}

.radio {
    position: absolute;
    width: 2px;
    background-color: whitesmoke;
}

.radio.short {
    top: -60px;
    left: 50px;
    height: 20px;
}

.radio.long {
    top: -78px;
    left: 56px;
    height: 36px;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
}

.head {
    position: absolute;
    top: -46px;
    left: 50%;
    width: 90px;
    height: 56px;
    margin-left: -45px;
    border: 1px solid black;
    border-radius: 90px 90px 14px 14px;
    background: snow;
    z-index: 1;
    overflow: hidden;
}

.band {
    position: absolute;
    width: 100%;
}

.band.one {
    top: 6px;
    height: 6px;
    background: thistle;
    opacity: 0.8;
    z-index: 1;
}

.band.two {
    top: 17px;
    height: 4px;
    background: wheat;
}

.band.three {
    top: 27px;
    height: 4px;
    background: lavender;
}

.eyes {
    position: absolute;
    display: block;
    left: 0%;
    height: 100%;
    width: 100%;
    transition: 0.6s;
    z-index: 10;
}

.eyes.right {
    left: 36%;
}

.eye {
    position: absolute;
    display: block;
    border-radius: 50%;
}

.eye.one {
    top: 12px;
    left: 12%;
    width: 30px;
    height: 30px;
    background: black;
    border: 4px solid whitesmoke;
}

.eye.one::after {
    content: '';
    position: absolute;
    display: block;
    top: 4px;
    right: 4px;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
}

.eye.two {
    top: 30px;
    left: 40%;
    width: 16px;
    height: 16px;
    background: whitesmoke;
    border: 1px solid black;
}

.eye.two::after {
    content: '';
    position: absolute;
    display: block;
    top: 2px;
    right: 2px;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
}

.body {
    position: relative;
    width: var(--size);
    height: var(--size);
    background: seashell;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    transition: 1s;
}

.lines {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 2px solid tan;
    border-radius: 50%;
    opacity: 0.3;
}

.lines.two {
    top: -10px;
    left: -250px;
}

.circle {
    position: absolute;
    height: 70px;
    width: 70px;
    margin-left: -35px;
    background: sienna;
    border-radius: 50%;
}

.circle::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    margin-top: -35%;
    margin-left: -35%;
    background: lightcoral;
    border-radius: 50%;
}

.circle.one {
    top: 6%;
    left: 50%;
    width: 90px;
    height: 80px;
    margin-left: -40px;
}

.circle.two {
    top: 70%;
    left: 18%;
    width: 76px;
    height: 38px;
    transform: rotate(40deg);
}

.circle.two::after {
    top: 110%;
}

.circle.three {
    top: 66%;
    left: 90%;
    height: 30px;
    transform: rotate(-50deg);
}

.circle.three::after {
    top: 110%;
}

.shadow {
    position: absolute;
    left: 5px;
    bottom:  -8px;
    height: calc(var(--size)/6);
    width: var(--size);
    border-radius: 50%;
    background: transparent;
    opacity: 0.8;
    z-index: -1;
}

input[type=checkbox]:checked + label {
    box-shadow: inset -20px 0 10px rgba(0,0,0,0.5),
                inset -5px 0 10px rgba(0,0,0,0.5);
}

input[type=checkbox]:checked + label .droid{
    transform: translate(140px);
}

input[type=checkbox]:checked + label .body{
    transform: rotate(360deg);
}

input[type=checkbox]:checked + label .radios{
    transform: translate(-30px);
}

input[type=checkbox]:checked + label .eyes{
    transform: translate(30px);
}

input[type=checkbox]:checked + label ~ section{
    opacity: 1;
}

