
/*	LOGO-BANNER DIV-S */

.logoDivLeftClass{
	float: left;
	border-width: 2px 2px 0 calc(1vmax + 10px);
}


/*	NAVIGATION DIV-S */
.naviDivClass {
	clear: both;
	float: left;
	width: 21vw;
	text-align: left;
}

.navitemHolder{
	width: 19vw;
	border-width: 1vmax 2px 1vmax calc(2vmax + 2px);
}

.navitemHolder:hover{
	border-width: 1vmax 2px 1vmax 2vmax;
}

.navitemHolder.selected{
	border-radius: 10px 0 0 10px;
}


/*	PANEL DIV-S */


/*	LIST DIV-S */
@media all and (min-width: 768px) {

}

@media all and (min-width: 1152px) {

	.columns{
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}
}


/*	NEWS DIV-S */
.newsDiv1Class{
	float: left;
	width: 21vw;
	text-align: left;
}

.newsDiv2Class {
	display: none;
}

.newsitemHolder{
	width: 19vw;
	border-width: 1vmax 2px 1vmax calc(2vmax + 2px);
}

.newsitemHolder:hover{

}

.itemDivClass{
	min-height: 90vh;
}

@media all and (max-height: 400px) {
/*	NEWS DIV-S */
	.newsDiv1Class{

	}
}

@media all and (min-height: 600px) {
/*	NEWS DIV-S */
	.newsDiv1Class{

	}

}

@media all and (min-width: 1281px) {
	.naviDivClass, .newsDiv1Class{
		width: 204px;
	}

	.navitemHolder, .newsitemHolder{
		width: 204px;
	}

	.panelWrapperClass{
		width: 980px;
	}

	article section{
		width: 272px;
	}

}

