 /*	LOGO-BANNER DIV-S */
.logoDivClass{
	min-width: 320px;
}

.logoDivLeftClass {
	display: inline-block;
	float: left;
	height: 72px;
	overflow: hidden;
	border-style: solid;
	border-width: 2px 2px 0 14px;
	border-color: transparent;
}

.logoIndex{
	width: 72px;
	height: 72px;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
}

.logoIndex:hover{
	border-width: 0;
}

.logoDivRightClass {
	height: 72px;
	overflow: hidden;
	line-height: 72px;
    text-align: left;
	font-weight: bold;
	color: black;
	font-size: 36px;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
}

.logoDivRightClass span{
	display: none;
	font-size: 24px;
}

/*	NAVIGATION DIV-S */
.headerDivMiniClass{
	position: absolute;
	top: 0;
	right: 4px;
	padding: 0 2px;
	width: 230px;
	height: 72px;
}

.navitemMiniHolder{
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 72px;
	height: 72px;
	border-style: solid;
	border-width: 2px 0;
	border-color: transparent;
}

.navitemImgMiniClass{
	position: absolute;
	width: 72px;
	height: 72px;
	left: 50%;
	margin-left: -36px;
    top: 50%;
    margin-top: -36px;
	border-style: solid;
	border-width: 1px 2px 0 2px;
	border-color: transparent; 
}

.navitemMiniHolder:hover .navitemImgMiniClass{
	border-width: 0;
}

.navitemIconMiniClass{
	position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: -18px;
	font-size: 36px;
	font-weight: bold;
	color: black;
}

@media all and (max-width: 800px){
	.logoDivRightClass span{
		font-size: 10px;
	}

	.logoDivLeftClass {
		height: 60px;
	}


	.logoDivRightClass{
		height: 60px;
		line-height: 60px;
		font-size: 22px;
	}

	.logoIndex{
		width: 60px;
		height: 60px;
	}

/*	NAVIGATION DIV-S */
	.headerDivMiniClass{
		height: 60px;
		width: 194px;
		right: 3px;
	}

	.navitemMiniHolder{
		width: 60px;
		height: 60px;
	}

	.navitemImgMiniClass{
		width: 60px;
		height: 60px;
		margin-left: -30px;
		margin-top: -30px;
	}

	.navitemIconMiniClass{
		margin-top: -15px;
		font-size: 30px;
	}

}

@media all and (max-height: 600px){
	.logoDivRightClass span{
		display: none;
	}

	.logoDivLeftClass {
		height: 60px;
	}


	.logoDivRightClass{
		height: 60px;
		line-height: 60px;
		font-size: 22px;
	}

	.logoIndex{
		width: 60px;
		height: 60px;
	}

/*	NAVIGATION DIV-S */
	.headerDivMiniClass{
		height: 60px;
		width: 194px;
		right: 3px;
	}

	.navitemMiniHolder{
		width: 60px;
		height: 60px;
	}

	.navitemImgMiniClass{
		width: 60px;
		height: 60px;
		margin-left: -30px;
		margin-top: -30px;
	}

	.navitemIconMiniClass{
		margin-top: -15px;
		font-size: 30px;
	}

}

@media all and (max-width: 500px){
	.logoDivRightClass span{
		display: none;
	}

	.logoDivLeftClass {
		height: 40px;
	}

	.logoDivRightClass{
		height: 40px;
		line-height: 40px;
		font-size: 16px;
	}

	.logoIndex{
		width: 40px;
		height: 40px;
	}

/*	NAVIGATION DIV-S */
	.headerDivMiniClass{
		height: 40px;
		width: 134px;
		right: 2px;
	}

	.navitemMiniHolder{
		width: 40px;
		height: 40px;
	}

	.navitemImgMiniClass{
		width: 40px;
		height: 40px;
		margin-left: -20px;
		margin-top: -20px;
	}

	.navitemIconMiniClass{
		margin-top: -10px;
		font-size: 20px;
	}

}

@media all and (max-height: 400px){
	.logoDivRightClass span{
		display: none;
	}

	.logoDivLeftClass {
		height: 40px;
	}

	.logoDivRightClass{
		height: 40px;
		line-height: 40px;
		font-size: 16px;
	}

	.logoIndex{
		width: 40px;
		height: 40px;
	}

/*	NAVIGATION DIV-S */
	.headerDivMiniClass{
		height: 40px;
		width: 134px;
		right: 2px;
	}

	.navitemMiniHolder{
		width: 40px;
		height: 40px;
	}

	.navitemImgMiniClass{
		width: 40px;
		height: 40px;
		margin-left: -20px;
		margin-top: -20px;
	}

	.navitemIconMiniClass{
		margin-top: -10px;
		font-size: 20px;
	}

}


/*	NAVIGATION DIV-S */
.naviDivClass {
	overflow: hidden;
	border-style: solid;
	border-width: 4px;
	border-color: transparent;
}

.navitemHolder{
	position: relative;
	display: inline-block;
	width: 188px;
	height: 80px;
	overflow: hidden;
	border-style: solid;
	border-color: transparent;
}

.navitemHolder.selected{
	border-color: darkgray;
}

.navitemImgClass{
	position: absolute;
	width: 188px;
	height: 188px;
	left: 50%;
	margin-left: -94px;
    top: 50%;
    margin-top: -94px;
	background-color: black;
}

.navitemTextClass{
	position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: -15px;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.navitemHolder.selected .navitemTextClass{
	color: black;
}

.navitemHolder.selected .navitemImgClass{
	background-color: white;
}

.navitemHolder.selected:hover .navitemImgClass{
	background-color: white;
}

.navitemHolder.selected:hover .navitemTextClass{
	color: black;
}


/*	NEWS DIV-S */


/*	PANEL DIV-S */
.panelWrapperClass{
	display: inline-block;
	text-align: right;
	vertical-align:top;
	overflow: auto;
}

/*	SUMMARY DIV-S */
/*	ARTICLE DIV-S */
article{
	display: inline-block;
	overflow: hidden;
    text-align: center;
	background-color: transparent;
}

article section{
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
    text-align: justify;
	min-width: 250px;
	max-width: 480px;
	min-height: 225px;
	padding: 8px;
	margin: 5px;
	border-style: solid;
	border-width: 0px;
	border-color: black;
	border-radius: 10px;
	background-color: rgba(244, 244, 244, 1);
}

#system01, #system02{
	min-height: 450px;
}

@media all and (min-width: 1120px) {
	article section{
		width: 22vw;
	}

}


/*	LIST DIV-S */
.listTitleDivClass{
	display: inline-block;
	position: relative;
	text-align: center;
	padding: 8px;
}

.listTitleDivClass h1 span{
	white-space: nowrap;
}
.listTitleDivClass h5{
	text-align: right;
}

.listClass{
	overflow: hidden;
	min-height: 70vh;
	margin: 8px;
	padding: 8px;
	border-style: solid;
	border-width: 0px;
	border-color: red;
	border-radius: 10px;
/*	background-image: url("../g2work_img/opalyellow.png");	
    background-repeat: no-repeat;
    background-origin: content-border;
    background-position: center; 
	background-size: 100% auto;
	background-color: transparent; */
}

.listClass h5, .listClass h2, .listClass p span{
padding: 8px;
}

.columns{
	
}

.twocolumns{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
}

.listClass .columns img{
	display: block;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 10px;
}

.score{
	line-height: 8em;
	height: 8em;
}


/*	NEWS2 DIV-S */

