* {
    margin: 0;
    padding: 0;
    font: bold Helvetica;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, lightskyblue, orange);
    clip-path: circle(120px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover::before {
    clip-path: circle(250px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card::after {
    content: 'DINO';
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.05);
}

.container .card .imgBox {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 100;
    width: 100%;
    height: 220x;
    transition: 0.5s;
}

.container .card:hover .imgBox {
    top: 25%;
    transform: translate(0);
}

.container .card .imgBox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-12deg);
    width: 270px;
}

.container .card .contentBox {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBox {
    height: 210px;
    bottom: 0;
}

.container .card .contentBox h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}

.container .card .contentBox .color,
.container .card .contentBox .size {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBox .color,
.container .card:hover .contentBox .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card .contentBox .color h3,
.container .card .contentBox .size h3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBox .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    display: inline-block;
    color: #111111;
    background: #ffffff;
    margin: 0 5px;
    transition: 0.5s;
    border: 2px solid #a0bff8;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBox .size span:hover {
    background: #a0bff8;
    font-weight: bolder;
    border: 2px solid white;
}

.container .card .contentBox .color span {
    width: 20px;
    height: 20px;
    background: orange;
    border: 2px solid transparent;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBox .color span:nth-of-type(2) {
    background: #03a9f4;
}

.container .card .contentBox .color span:nth-of-type(3) {
    background: #e91e63;
}

.container .card .contentBox .color span:hover {
    border: 2px solid white;
}

.container .card .contentBox a {
    display: inline-block;
    padding: 10px 20px;
    background: #bbbbaa;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #444444;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}

.container .card:hover .contentBox a {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.75s;
}

.container .card:hover .contentBox a:hover {
    background: #eeeeaa;
    color: #111111;
}
