* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightcyan;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
}

@media (max-width: 1100px) {
    .container {
        width: 100%;
        flex-direction: column;
    }
}

.container .card {
    position: relative;
    width: 320px;
    height: auto;
    margin: 20px;
    padding: 40px 30px;
    background: lightcyan;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 40px;
    box-shadow: inset 6px 6px 20px rgba(255, 255, 255, 1), inset -6px -6px 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.container .card:hover {
    transform: scale(0.98);
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5), inset 6px 6px 20px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

.container .card .imgBox {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: inset 6px 6px 20px rgba(255, 255, 255, 1), inset -6px -6px 20px rgba(0, 0, 0, 0.1);
}

.container .card:hover .content a,
.container .card:hover .imgBox {
    background: rgba(255, 255, 192, 0.5);
}

.container .card .imgBox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 120px;
}

.container .card .content {
    position: relative;
    margin-top: 20px;
    text-align: center;
    transform: scale(1.01);
    transition: 0.5s;
}

.container .card .content h2 {
    color: darkred;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 2px;
}

.container .card .content p {
    color: darkred;
}

.container .card .content a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 40px;
    color: darkred;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: inset 4px 4px 15px rgba(255, 255, 255, 1), inset -4px -4px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.container .card .content a:hover {
    box-shadow: inset -4px -4px 15px rgba(255, 255, 255, 0.5), inset 4px 4px 15px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

.container .card .content a span {
    display: block;
    font-size: 15px;
    transition: 0.5s;
}

.container .card .content a:hover span {
    font-size: 14px;
    transition: 0.5s;
}