#iconmenu { 
width: 80%;
margin : 0 auto; 
font-size : 1em; 
padding : 0; 
color : #eee; 
background : transparent; 
} 

#iconmenu img { 
margin : 1px 11px; 
height: 48px;
width: 48px;
} 

#iconmenu img:hover { 
margin : -2px 8px;
width: 54px;
height: 54px;
}