#menu_section1{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s1-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section2{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s2-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section3{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s3-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section4{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s4-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section5{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s5-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section6{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s6-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section7{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s7-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section8{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s8-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section9{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s9-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section10{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s10-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section11{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s11-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section12{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s12-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section13{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s13-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section14{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s14-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section15{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s15-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}

#menu_section16{
	display: table;
	margin: 1% 2% 1% 2%;
	width: 95%;
	position: relative;
	background: url(../aMAGazinImages/backgrounds/s16-menu.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 50px;
}