* {
    margin: 0;
    padding: 0;
    font: bold Helvetica;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: darkslategray;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
}

.container .card {
    position: relative;
    height: 200px;
    margin: 10px;
    transform: translateY(-100px);
}

.container .card:hover {
    height: auto;
    transform: translateY(0);
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1 {
    background: tomato;
    transform: translateY(0);
}

.container .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    filter: invert(100%);
}

.container .card .face.face1 .content h3 {
    color: white;
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 1.5em;
}

.container .card .face.face2 {
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: darkslategray;
    padding: 5px;
    border: 1px solid darkslategray;
}

.container .card .face.face2 .content a:hover {
    color: white;
    background: darkslategray;
}
