* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: indigo;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    display: flex;
}

.container .box {
    position: relative;
    width: 250px;
    height: 500px;
    transition: 0.5s;
}

.container .box:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 5px 20px black;
}

.container .box .thumb {
    position: absolute;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container .box:nth-child(odd) .thumb {
    bottom: 0;
    left: 0;
}

.container .box:nth-child(1) .thumb {
    background: gold;
}

.container .box:nth-child(2) .thumb {
    background: thistle;
}

.container .box:nth-child(3) .thumb {
    background: lightseagreen;
}

.container .box:nth-child(4) .thumb {
    background: khaki;
}

.container .box .thumb img {
    width: 100%;
}

.container .box .details {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.container .box:nth-child(even) .details {
    bottom: 0;
    left: 0;
}

.container .box:nth-child(1) .details {
    background: deeppink;
}

.container .box:nth-child(2) .details {
    background: orange;
}

.container .box:nth-child(3) .details {
    background: forestgreen;
}

.container .box:nth-child(4) .details {
    background: tomato;
}

.container .box .details .content {
    position: absolute;
    top: calc(50% + 16px);
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

.container .box:hover .details .content {
    top: 50%;
}

.container .box .details .content i {
    font-size: 80px;
    color: lightgoldenrodyellow;
}

.container .box .details .content h3 {
    padding: 10px 0;
    color: lightgoldenrodyellow;
}

.container .box .details .content a {
    display: inline-block;
    padding: 5px 20px;
    color: lightgoldenrodyellow;
    border: 2px solid lightgoldenrodyellow;
    text-decoration: none;
    border-radius: 20px;
    transform: scale(0);
    transition: 0.5s;
}

.container .box:hover .details .content a {
    transform: scale(1);
}

.container .box .details .content a:hover {
    font-weight: 600;
    color: indigo;
    background: lightgoldenrodyellow;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
        height: auto;
        padding: 30px;
    }
    .container .box {
        height: 250px;
    }
}

@media (max-width: 768px) {
    .container {
        display: initial;
        padding: 35px;
    }
    .container .box {
        width: 50%;
        height: 250px;
        float: left;
    }
    .container .box .thumb {
        display: none;
    }
}

@media (max-width: 520px) {
    .container {
        top: 0;
        left: 0;
        padding: 40px;
        transform: translate(0);
    }
    .container .box {
        width: 100%;
        height: 250px;
        float: none;
    }
}